<!--roster/templates/roster/home.html -->

{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Choose a Sport</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-xs-12 myThumb">
    <a href="{% url 'roster_teams_list' %}" class="centerDis"><img src="{% static 'img/sports/softball.png' %}" class="img-thumbnail" style="height: 200px; width:200px;"></a>
  </div>
  <div class="col-md-4 col-xs-12 myThumb">
    <a href="{% url 'roster_teams_list' %}" class="centerDis"><img src="{% static 'img/sports/baseball.png' %}" class="img-thumbnail" style="height: 200px; width:200px;"></a>
  </div>
  <div class="col-md-4 col-xs-12 myThumb">
    <a href="{% url 'roster_teams_list' %}" class="centerDis"><img src="{% static 'img/sports/football.png' %}" class="img-thumbnail" style="height: 200px; width:200px;"></a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-xs-12 myThumb">
    <a href="{% url 'roster_teams_list' %}" class="centerDis"><img src="{% static 'img/sports/basketball.png' %}" class="img-thumbnail" style="height: 200px; width:200px;"></a>
  </div>
  <div class="col-md-4 col-xs-12 myThumb">
    <a href="{% url 'roster_teams_list' %}" class="centerDis"><img src="{% static 'img/sports/soccer.png' %}" class="img-thumbnail" style="height: 200px; width:200px;"></a>
  </div>
  <div class="col-md-4 col-xs-12 myThumb">
    <a href="{% url 'roster_teams_list' %}" class="centerDis"><img src="{% static 'img/sports/lacrosse.png' %}" class="img-thumbnail" style="height: 200px; width:200px;"></a>
  </div>
</div>

{% endblock %}
