{# roster/teams_list.html #}
{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
</div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="patua">Choose a Team</h1>
      </div>
    </div>
    {% for team in teams %}
    <div class="row">
      <div class="col-sm-12 {{ team.name }} whites">
        {% with 'img/logos/'|add:team.name|add:'.png' as logo_static %}
        <img src="{% static logo_static %}" class="logo"><a href="{% url 'roster_teams' team.name %}"><h1>{{ team.name }}</h1></a>
        {% endwith %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
